body {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background: azure;
}

a {
    display: block;
    text-align: center;
    margin: 20px auto;
    text-decoration: none;
    color: blue;
}




/*==============TEST==============*/
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}

.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
